.taskRun rect {
    stroke-width: 1;
    stroke: rgb(255,0,0);
}

.mesosJob line {
    stroke-width: 1;
    stroke: rgb(0,0,0);
}

.sparkJobDuration {
    fill: rgb(0,0,0);
    text-anchor: middle;
    font-size: 24px;
}
